<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
   <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Document</title>
   
</head>
<body>
    <a href="http://localhost:8080">home</a>
    <a href="http://localhost:8080/mars/spirit">spirit</a>
   <div ><h1>Mars</h1>
  

  
   <div id='gallery'> 
       <ul>
     <% marsData.photos.forEach(item=>{ %>
        <p>sol <%=item.sol %></p>
        <p>earth date <%= item.earth_date%></p>
        <img src = <%= item.img_src %>>
     <% }) %>
    </ul>
    gallery</div>
    <div class = 'box' box >box</div>
   
</div>
</body>
</html>